.form {
	display: flex;
	flex-direction: column;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	white-space: nowrap;
	border: none;
}

label {
	margin-right: 20px;
}

#domain {
	font-style: italic;
}